1. Reverse a string

In [17]:
# Get input from the user
string = input("Enter the string:")

# Reverse the string
rev_str = ''.join(reversed(string))

# Print the reversed string
print("Reversed String is:", rev_str)

Enter the string: met

Reversed String is: tem

2. String is Palindrome

In [5]:
# Get input from the user
string = input("Enter the string:")

# Extract only alphanumeric characters from the input string
str_rep = ''.join(re.findall(r'\w', string))

# Reverse the extracted alphanumeric string
str_rev = str_rep[::-1]

# Check if the reversed string is equal to the original, determine if it's a palindrome
if str_rep == str_rev:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter the string: a man, a plan, a canal, panama

palindrome

In [23]:
# Get input from the user
string = input("Enter the string:")

# Remove spaces from the input string
string_rep = string.replace(" ", '')

# Initialize pointers for checking palindrome
first = 0
last = len(string_rep) - 1
is_palindrome = True

# Check if the string is a palindrome
while first <= last:
    if string_rep[first] == string_rep[last]:
        first += 1
        last -= 1
    else:
        is_palindrome = False
        break

# Print the result
if is_palindrome:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter the string: mom pip mom

Palindrome

3. String to uppercase

In [1]:
# Get input from the user
string = input("Enter the string:")

# Convert the string to uppercase
str_up = string.upper()

# Print the uppercase string
print("Uppercase String:", str_up)

Enter the string: red

 String: RED

4.String to lowercase

In [2]:
# Get input from the user
string = input("Enter the string:")

# Convert the string to lowercase
str_low = string.lower()

# Print the lowercase string
print("Lowercase String:", str_low)

Enter the string: JUG

 String: jug

5.Count the number of vowels in a string.

In [18]:
# Get input from the user
string = input("Enter the string:")

# Convert the string to lowercase
str_low = string.lower()

# Print the lowercase string
print("Lowercase String:", str_low)

Enter the string: My name is RubAyAh

COunt of vowels 6

6. Count the number of consonants in a string.

In [21]:
# Get input from the user
string = input("Enter the string:")

# Convert the string to lowercase
string = string.lower()

# Define the vowels
vowels = "aeiou"

# Initialize a counter for consonants
count = 0

# Count the consonants in the string
for char in string:
    if char not in vowels:
        count += 1

# Print the count of consonants
print("Count of consonants:", count)

Enter the string: My name is RubAyAh

COunt of consonants 12

7. Remove all whitespaces from a string.

In [22]:
# Get input from the user
string = input("Enter the string:")

# Replace spaces in the string
replaced_string = string.replace(" ", "")

# Print the replaced string
print("Replaced String:", replaced_string)

Enter the string: My name is Rubayah

Replaced String  MynameisRubayah

8. Find the length of a string without using the `len()` function.

In [26]:
# Get input from the user
string = input("Enter the string:")

# Initialize a counter for the length of the string
count = 0

# Count each character in the string
for char in string:
    count += 1

# Print the length of the string
print("Length of the string:", count)

Enter the string:  data is the new oil

Length of the string 20

9. Check if a string contains a specific word.

In [27]:
# Get input from the user
string = input("Enter the string:")

# Specify the word to search for
word = "the"

# Check if the word is found in the string
if word in string:
    print(f"Word '{word}' found")
else:
    print(f"Word '{word}' not found")

Enter the string: the bridge is collapsing

word the  found

11. Count the occurrences of a word in a string.

In [21]:
# Get input from the user
string = input("Enter the string:")

# Specify the word to count
word = "the"

# Count occurrences of the word in the string
count = string.count(word)

# Print the count of occurrences
print("Count of words", count)

Enter the string: the cat is feeding the kittens

Count of words 2

12. Find the first and last occurrence of a word in a string.

In [29]:
# Get input from the user
string = input("Enter the string:")

# Specify the first word to check
f_word = "the"

# Check if the first three characters of the string match the specified word
if string[:3] == f_word:
    print(f"Word '{f_word}' is found in the first place")
else:
    print("Word not found")

Enter the string: the book is good

word the is found in the first place

13. Find the last occurrence of a word in a string.

In [3]:
# Get input from the user
string = input("Enter the string:")

# Specify the last word to check
l_word = "it"


words = string.split()

# Check if the last word in the string matches the specified word
if words[-1] == l_word:
    print(f"Word '{l_word}' is found in the last place")
else:
    print("Word not found")

Enter the string: why is it

Word 'it' is found in the last place

15. Join a list of words into a string.

In [17]:
# List of words
words = ["apple", "is", "a", "fruit"]

# Join the words into a string with spaces between them
joined_words = " ".join(words)

# Print the joined string
print("Joined words:", joined_words)

joined words: apple is a fruit

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [8]:
# Get input from the user
string = input("Enter the string:")

# Replace spaces with underscores in the string
rep_string = string.replace(" ", "_")

# Print the modified string
print(rep_string)

Enter the string: wed is

wed_is_

17. Check if a string starts with a specific word or phrase.

In [12]:
# Get input from the user
string = input("Enter the string:")

# Specify the word to check at the beginning of the string
word = "how are"

# Check if the string starts with the specified word
if string.startswith(word):
    print("Yes")
else:
    print("No")

Enter the string: how are you

yes

18. Check if a string ends with a specific word or phrase.

In [20]:
# Get input from the user
string = input("Enter the string:")

# Specify the word to check at the end of the string
word = "am fine"

# Check if the string ends with the specified word
if string.endswith(word):
    print("Yes")
else:
    print("No")

Enter the string: i am fine

yes

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [23]:
# Get input from the user
string = input("Enter the string:")

# Convert the string to title case
title_case_string = string.title()

# Print the title case string
print(title_case_string)

Enter the string: hello world

Hello World

20. Find the longest word in a string.

In [24]:
# Get input from the user
string = input("Enter the string:")

# Split the string into a list of words
word_list = string.split()

# Initialize the longest word
long_word = ""

# Iterate through the words to find the longest one
for word in word_list:
    if len(word) > len(long_word):
        long_word = word

# Print the longest word
print("Longest word is", long_word)

Enter the string: i am good

longest word is  good

21. Find the shortest word in a string.

In [13]:
# Get input from the user
string = input("Enter the string:")

# Split the string into a list of words
word_list = string.split()

# Initialize the shortest word with the first word
short_word = word_list[0]

# Iterate through the words to find the shortest one
for word in word_list:
    if len(word) < len(short_word):
        short_word = word

# Print the shortest word
print("Shortest word is", short_word)

enter string i am good

shortest word is  i

22. Reverse the order of words in a string.

In [36]:
# Get input from the user
string = input("Enter the string:")

# Split the string into a list of words
words = string.split()

# Reverse the order of the words
rev = words[-1::-1]

# Print the reversed list of words
print(rev)

enter string data is the new oil

['oil', 'new', 'the', 'is', 'data']

In [15]:
# Get input from the user
string = input("Enter the string:")

# Split the string into a list of words
words = string.split()

# Join the reversed list of words into a string
rev = " ".join(reversed(words))

# Print the reversed string
print(rev)

enter string: data is the new oil!

oil!newtheisdata

23. Check if a string is alphanumeric.

In [41]:
# Get input from the user
string = input("Enter the string:")

# Check if the string is alphanumeric
if string.isalnum():
    print("True")
else:
    print("False")

enter string iam7

True

25. Extract all alphabets from a string.

In [56]:
# Get input from the user
string = input("Enter the string:")

# Initialize a list to store alphabetic characters
alphabet = []

# Iterate through the characters in the string and append alphabetic ones to the list
for char in string:
    if char.isalpha():
        alphabet.append(char)

# Check if there are alphabetic characters and print the result
if alphabet:
    print("Alphabet:", alphabet)
else:
    print("No alphabet")

enter string I am 38 years old

Alphabet ['I', 'a', 'm', 'y', 'e', 'a', 'r', 's', 'o', 'l', 'd']

24. Extract all digits from a string.

In [58]:
# Get input from the user
string = input("Enter the string:")

# Initialize a list to store digit characters
digits = []

# Iterate through the characters in the string and append digit ones to the list
for char in string:
    if char.isdigit():
        digits.append(char)

# Print the list of digits
print("Digits:", digits)

enter string i am 38

Digits : ['3', '8']

26. Count the number of uppercase letters in a string.

In [62]:
# Get input from the user
string = input("Enter the string:")

# Initialize a counter for uppercase characters
count = 0

# Iterate through the characters in the string and count uppercase ones
for char in string:
    if char.isupper():
        count += 1

# Print the count of uppercase characters
print("Count of Uppercase Characters:", count)

enter string I am RubayaH

Count 3

27. Count the number of lowercase letters in a string.

In [63]:
# Get input from the user
string = input("Enter the string:")

# Initialize a counter for lowercase characters
count = 0

# Iterate through the characters in the string and count lowercase ones
for char in string:
    if char.islower():
        count += 1

# Print the count of lowercase characters
print("Count of Lowercase Characters:", count)

enter string I am RubayaH

Count 7

28. Swap the case of each character in a string.

In [79]:
# Get input from the user
string = input("Enter the string:")

# Initialize an empty string for the swapped characters
swapped_string = ""

# Iterate through the characters in the string and swap case
for char in string:
    if char.isupper():
        swapped_string += char.lower()
    elif char.islower():
        swapped_string += char.upper()
    else:
        swapped_string += char

# Print the swapped string
print("Swapped String:", swapped_string)

enter string I Am 37 YearS OlD

Swapped String  i aM 37 yEARs oLd

In [84]:
# Get input from the user
string = input("Enter the string:")

# Use the swapcase() method to swap the case of each character
swap = string.swapcase()

# Print the swapped string
print(swap)

enter String Red is ColoR

rED IS cOLOr

29. Remove a specific word from a string.

In [10]:
# Get input from the user
string = input("Enter the string:")

# Specify the word to check
word_check = "the"

# Split the string into a list of words
words = string.split()

# Create a new list excluding the specified word
new_words = [word for word in words if word != word_check]

# Check if the new list is not empty and print the result
if new_words:
    print("New Words:", new_words)
else:
    print("Word not found")

Enter String the book is good

new Words ['book', 'is', 'good']

30. Check if a string is a valid email address.

In [6]:
import re

# Get input from the user
string = input("Enter string:")

# Define the pattern for a valid email address
pattern = r'^[a-zA-Z0-9+-_%]+@[a-zA-Z0-9.]+\.[a-zA-Z]{2,}$'

# Check if the input string matches the pattern
if re.match(pattern, string):
    print("Valid email address")
else:
    print("Not a valid email address")

Enter string sooby7@gmail.com

Valid email address

31. Extract the username from an email address string.

In [15]:
import re

# Get input from the user
string = input("Enter string:")

# Define the pattern for a valid email address
pattern = r'^([a-zA-Z0-9+-_%]+)@([a-zA-Z0-9.]+)(\.[a-zA-Z]+)$'

# Check if the input string matches the pattern
match = re.match(pattern, string)

# If there is a match, extract the username
if match:
    un = match.group(1)
    print("Username:", un)
else:
    print("Not a valid email address")

Enter string rub@

In [12]:
import re

# Get input from the user
string = input("Enter string:")

# Define the pattern for a valid email address
pattern = r'^([a-zA-Z0-9+-_%]+)@([a-zA-Z0-9.]+)(\.[a-zA-Z]+)$'

# Check if the input string matches the pattern
match = re.match(pattern, string)

# If there is a match, extract the username
if match:
    # Group(1) corresponds to the first part of the pattern, which is the username
    username = match.group(1)
    print("Username:", username)
else:
    print("No username found")

Enter string rubayah@gmail.com

Username: rubayah

32. Extract the domain name from an email address string.

In [1]:
import re

# Get input from the user
string = input("Enter string:")

# Define the pattern for a valid email address
pattern = r'^([a-zA-Z0-9+-_%]+)@([a-zA-Z0-9.]+)(\.[a-zA-Z]+)$'

# Check if the input string matches the pattern
match = re.match(pattern, string)

# If there is a match, extract the domain name (group index 2 in the pattern)
if match:
    username = match.group(2)
    print("Username:", username)
else:
    print("No username found")

Enter string soobby@yahoo.com

Username: yahoo

33. Replace multiple spaces in a string with a single space.

In [14]:
import re

# Get input from the user
string = input("Enter string: ")

# Replace one or more consecutive spaces with a single space
rep_string = re.sub(" +", " ", string)# (" +" : this shows one space and many  consecutive space after that wil be replaced

# Print the replaced string
print("Replaced String:", rep_string)

Enter string:  my   name is   red

Replaced String: my name is red

In [16]:
# Get input from the user
string = input("Enter string: ")

# Split the string into words
words = string.split()

# Join the words back together with a single space between them
rep_str = " ".join(words)

# Print the replaced string
print("Replaced String:", rep_str)

Enter string:    my name    is red

Replaced String: my name is red

34. Check if a string is a valid URL.

In [11]:
import re

# Get input from the user
string = input("Enter the string: ")

# Define the pattern for a valid URL
pattern = r'(https?|ftp)\:\/\/[a-z]+\.[a-zA-Z0-9]+\.[a-zA-Z]'

# Check if the input string matches the pattern
if re.match(pattern, string):
    print("Valid URL")
else:
    print("Invalid URL")

Enter the string:  https://www.mdx.com

Valid URL

36. Find the frequency of each character in a string.

In [6]:
# Get input from the user
string = input("Enter string:")

# Convert the string to lowercase for case-insensitive counting
string = string.lower()

# Initialize a dictionary to store character frequencies
char_freq = {}

# Count the frequency of each character
for char in string:
    if char in char_freq:
        char_freq[char] += 1
    else:
        char_freq[char] = 1

# Print the overall character frequencies
print("Character Frequency:", char_freq)

# Print individual character frequencies
for char, freq in char_freq.items():
    print(f"'{char}': {freq}")

enter string:  I am in India

{' ': 4, 'i': 4, 'a': 2, 'm': 1, 'n': 2, 'd': 1}
' ': 4
'i': 4
'a': 2
'm': 1
'n': 2
'd': 1

In [9]:
char_freq['i']

4

37. Remove all punctuation from a string.

import string
in_string=input("enter string:")
string_wo_punc=''.join(char for char in in_string if char not in string.punctuation)
print(string_wo_punc)

In [39]:
import string

# Get input from the user
in_string = input("Enter string:")

# Create a translation table to remove punctuation
translator = str.maketrans("", "", string.punctuation)

# Use translate method to remove punctuation from the input string
new_string = in_string.translate(translator)

# Print the string without punctuation
print(new_string)

enter string: I'm Rubayah,from Dxb!

Im Rubayahfrom Dxb

38. Check if a string contains only digits.

In [52]:
# Get input from the user
string = input("Enter String:")

# Check if the string contains only digits
if string.isdigit():
    print("The string contains only digits")
else:
    print("The string does not contain only digits")

Enter String: I am 35 years old in 2024

The string does not contain only digits

39. Check if a string contains only alphabets.

In [51]:
# Get input from the user
input_string = input("Enter a string: ")

# Check if the string contains only alphabets
if input_string.isalpha():
    print("The string contains only alphabets.")
else:
    print("The string does not contain only alphabets.")

Enter a string:  I am 35 years old in 2024

The string does not contain only alphabets.

40. Convert a string to a list of characters.

In [53]:
# Get input from the user
input_string = input("Enter a string: ")

# Convert the string into a list of individual characters
char_list = list(input_string)

# Print the list of characters
print("List of string:", char_list)

Enter a string:  Apple is red in color

List of string: ['A', 'p', 'p', 'l', 'e', ' ', 'i', 's', ' ', 'r', 'e', 'd', ' ', 'i', 'n', ' ', 'c', 'o', 'l', 'o', 'r']

41. Check if two strings are anagrams.

In [62]:
# Get input for the first word
word1 = input("Enter word1: ")

# Get input for the second word
word2 = input("Enter word2: ")

# Check if the sorted characters of both words are equal
if sorted(word1) == sorted(word2):
    print("Words are anagrams.")
else:
    print("Words are not anagrams.")

Enter word1 smile
Enter word2 slime

Words are anagrams

42. Encode a string using a Caesar cipher.

In [20]:
def caesarCipher(text, shift):
    encoded_text = ""
    for char in text:
        # Check if the character is an alphabet letter
        if char.isalpha():
            # Determine the base ASCII value for the alphabet (lowercase or uppercase)
            base = ord('a') if char.islower() else ord('A')

            # Apply the Caesar Cipher shift and wrap around within the alphabet
            encoded_char = chr((ord(char) - base + shift) % 26 + base)
        else:
            # Non-alphabetic characters remain unchanged
            encoded_char = char

        # Update the result with the encoded character
        encoded_text += encoded_char

    return encoded_text

# Example usage
text = "Hello World"
shift = 2
encoded_text = caesarCipher(text, shift)
print(encoded_text)

Jgnnq Yqtnf

43. Decode a Caesar cipher encoded string.

In [4]:
def decodeCipher(text,shift):
    decoded_text=" " 
    for char in text:
        if char.isalpha():
            base=ord('a') if char.islower() else ord('A')
            decoded_char=chr((ord(char)-base-shift)%26+base)
           
        else:
            decoded_char=char
        
        decoded_text+=decoded_char
    return decoded_text

text="Jgnnq Yqtnf"
shift=2
decoded_text=decodeCipher(text,shift)
print("Decoded Text:",decoded_text)

Decoded Text:  Hello World

44. Find the most frequent word in a string.

In [8]:
# Get input from the user
string = input("Enter String")

# Initialize a dictionary to store word frequencies
freq = {}

# Split the string into words
string = string.split()

# Count the frequency of each word
for word in string:
    if word in freq:
        freq[word] += 1
    else:
        freq[word] = 1

# Find the word with the maximum frequency
max_word = max(freq, key=freq.get)

# Print the frequency of each word
for word, count in freq.items():
    print(f"{word}: {count}")

# Print the most frequent word
print("Most Frequent Word:", max_word)

Enter String work work life

work:2
life:1
Frequent Word work

44. Find the most frequent word in a string.

In [7]:
import re
from collections import Counter

def most_frequent_word(text):
    
    # Remove punctuation and convert to lowercase
    clean_text = re.sub(r'[^\w\s]', ' ', text).lower()

    # Split the text into words
    words = clean_text.split()

    # Count the frequency of each word
    count_word = Counter(words)

    # Find the most common word
    most_common_word = count_word.most_common(1)[0][0]

    return most_common_word

# Example usage
text = "This is a sentence. This sentence contains repeat words."
result = most_frequent_word(text)
print(result)

this

45. Find all unique words in a string.

In [8]:
def unique_words(text):
    
    # Remove punctuation and convert to lowercase
    clean_text = re.sub(r'[^\w\s]', ' ', text).lower()

    # Split the text into words and convert to set to remove duplicates
    words = set(clean_text.split())

    return words

# Example usage
text = "Hello World, Hello people"
unique_words_set = unique_words(text)
print(unique_words_set)

{'people', 'world', 'hello'}

46. Count the number of syllables in a string.

In [3]:
import re

# Get input from the user
string = input("Enter String")

# Initialize a counter for syllables
count = 0

# Define the vowels
vowels = 'aeiou'

# Remove spaces from the input string
clean_string = string.replace(' ', '')

# Count the number of non-vowel characters
for char in clean_string:
    if char not in vowels:
        count += 1

# Print the count of syllables
print("Count of syllables:", count)

Enter String I am rubayah

Count of syllables 6

In [11]:
import re
def count_syllables(text):
     # Find all sequences of vowels (case-insensitive)
    vowels_group = re.findall(r'[aeiou]+', text, re.IGNORECASE)

    # Return the count of found vowel sequences
    return len(vowels_group)

# Example usage
text = "Hello I am Rubayah"
result = count_syllables(text)
print(result)

7

47. Check if a string contains any special characters.

In [14]:
import re
def special_char(text):
    pattern=re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]') # compile is use if searching in multiple locations otherwsie re.search could be used direct 
    match=pattern.search(text)
    return bool(match)
# Example

text1="Hello,I'm Rubayah;aspiring DS!"
text2="Hi there"
result1=special_char(text1)
result2=special_char(text2)
print(f"{text1}-contains speacial characters :{result1}")   
print(f"{text2}- does not contain speacial characters :{result2}")

Hello,I'm Rubayah;aspiring DS!-contains speacial characters :True
Hi there- does not contain speacial characters :False

48. Remove the nth word from a string.

In [24]:
def remove_nth_word(input_string,n):
    
    words=input_string.split()
   # Check if the value of n is valid
    if 1 <= n <= len(words):
        # Pop the nth word from the list of words
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example usage
input_string = "This is an example sentence !"
n = 5
modified_string, removed_word = remove_nth_word(input_string, n)

# Print the results
print(f"Old String: {input_string}")
if modified_string is not None:
    print(f"Modified String: {modified_string}")
    print(f"Removed Word: {removed_word}")
else:
    print("Invalid n value")
    print("Invaid n value")

OldString:This is an example sentence !
Modified String:This is an example !
Removed_word:sentence

49. Insert a word at the nth position in a string.

In [25]:
def insert_word_at_n(input_string,new_word,n):
    
    words=input_string.split()
     # Check if the value of n is valid
    if 0 <= n <= len(words):
        # Insert the new word at the specified position
        words.insert(n, new_word)

        # Join the words to form the modified string
        modified_string = ' '.join(words)

        return modified_string
    else:
        return "Invalid n value"

# Example usage
input_string = "This sentence shows an example of inserting nth"
new_word = "word"
n = 8
modified_string = insert_word_at_n(input_string, new_word, n)

# Print the results
print("Old String:", input_string)
print("Modified String:", modified_string)

Old String:  This sentence shows an example of inserting nth
Modified Sting: This sentence shows an example of inserting nth word

50. Convert a CSV string to a list of lists.

In [26]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [8]:
# Generate a list of integers from 1 to 10 using list comprehension
int_list = [num for num in range(1, 11)]

# Print the list
print(int_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [14]:
# Define a function to calculate the length of a given list
def len_list(input_list):
    count=0
    for num in input_list:
        count+=1
    return count

# Example Usage
input_list=[1,2,3,4,5]
length=len_list(input_list)
print("Length of list:",length)

Length of list: 5

3. Append an element to the end of a list.

In [18]:
# Original list
input_list = [1, 2, 3, 4, 5]

# Number to be appended
new_num = 10

# Append the new number to the list
input_list.append(new_num)

# Print the modified list
print(input_list)

[1, 2, 3, 4, 5, 10]

4. Insert an element at a specific index in a list.

In [23]:
# Original list
input_list = [1, 2, 3, 4, 5]

# Number to be inserted
new_num = 10

# Position where the new number will be inserted
insert_position = 3

# Insert the new number at the specified position
input_list.insert(insert_position, new_num)

# Print the modified list
print(input_list)

[1, 2, 3, 10, 4, 5]

5. Remove an element from a list by its value.

In [25]:
# Original list
my_list = [10, 20, 30, 40, 50]

# Element to be removed
rem_element = 40

# Remove the specified element from the list
my_list.remove(rem_element)

# Print the modified list after removal
print("Modified List:",my_list)

Modified List: [10, 20, 30, 50]

6. Remove an element from a list by its index.

In [28]:
# Original list
my_list = [12, 13, 14, 15, 15]

# Index of the element to be removed
index = 4

# Remove the element at the specified index using pop
removed_element = my_list.pop(index)

# Print the updated list after the removal
print("Updated List:", my_list)

Updated List: [12, 13, 14, 15]

7. Check if an element exists in a list.

In [30]:
# Original list
my_list = [23, 14, 5, 6, 7, 0]

# Element to be checked for existence in the list
element_to_be_checked = 0

# Check if the element is present in the list
if element_to_be_checked in my_list:
    print(f"Element {element_to_be_checked} Found")
else:
    print(f"Element {element_to_be_checked} not found")

Element 0 Found

8. Find the index of the first occurrence of an element in a list.

In [36]:
# Original list
my_list = [98, 99, 97, 95]

# Element to find the index of
element = 97

# Find the index of the specified element in the list
find_index = my_list.index(element)

# Print the index of the element
print(f"The index of element {element} is {find_index}")

The index of element 97 is 2

9. Count the occurrences of an element in a list.

In [38]:
# Original list
my_list = [10, 20, 30, 20, 40, 20, 50]

# Element whose occurrences need to be counted
element_to_count = 20

# Count the occurrences of the specified element in the list
element_count = my_list.count(element_to_count)

# Print the count of occurrences
print(f"The element {element_to_count} appears {element_count} times in the list")

The element 20 appears 3 times in the list

10. Reverse the order of elements in a list.

In [42]:
my_list=[1,2,3,4,5,6,7,8,9]
my_list.reverse()
print(my_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [43]:
# Original list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Reverse the order of elements in the list
my_list.reverse()

# Note: The reverse() method modifies the list in-place and does not return a new list.

# Print the modified list after reversal
print(my_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [50]:
# Original list
my_list = [23, 54, 67, 89, 12, 34, 98]

# Sort the elements of the list in ascending order (in-place)
my_list.sort()

# Print the sorted list
print("Sorted List:", my_list)

Sorted List: [12, 23, 34, 54, 67, 89, 98]

12. Sort a list in descending order.

In [51]:
# Original list
my_list = [23, 54, 67, 89, 12, 34, 98]

# Sort the elements of the list in ascending order (in-place)
my_list.sort(reverse=True)

# Print the sorted list
print("Sorted List in descending rder:", my_list)

Sorted List in descending rder: [98, 89, 67, 54, 34, 23, 12]

13. Create a list of even numbers from 1 to 20.

In [54]:
my_list=[num for num in range(1,21) if num%2==0]
print(my_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [56]:
# Create a list of even numbers from 2 to 20 using a list comprehension
my_list = [n for n in range(2, 21, 2)]

# Print the generated list
print(my_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [57]:
# Create a list of even numbers from 2 to 20 using a list comprehension
my_list = [n for n in range(1, 20, 2)]

# Print the generated list
print(my_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [60]:
# Original list
my_list = [10, 20, 30, 40, 50]

# Calculate the sum of elements in the list using the sum() function
sum_list = sum(my_list)

# Print the sum of the elements in the list
print(sum_list)

150

16. Find the maximum value in a list.

In [62]:
# Original list
my_list = [20, 50, 60, 79, 100]

# Find the maximum value in the list using the max() function
max_value = max(my_list)

# Print the maximum value in the list
print(max_value)

100

17. Find the minimum value in a list.

In [63]:
# Original list
my_list = [20, 50, 60, 79, 100]

# Find the minimum value in the list using the min() function
min_value = min(my_list)

# Print the minimum value in the list
print(min_value)

20

18. Create a list of squares of numbers from 1 to 10.

In [65]:
# Create a list of square numbers from 1 to 10 using a list comprehension
square_list = [n**2 for n in range(1, 11)]

# Print the generated list of square numbers
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [66]:
import random

# Create a list of random integers between 1 and 100
random_integers = [random.randint(1, 100) for _ in range(10)]

# Print the list of random integers
print("List of random integers:", random_integers)

List of random integers: [79, 45, 58, 30, 85, 79, 10, 35, 16, 85]

20. Remove duplicates from a list.

In [70]:
# Original list with duplicates
my_list = [12, 12, 3, 5, 6, 78, 8, 8]

# Create a set to obtain unique elements
unique_set = set(my_list)

# Convert the set back to a list to retain unique elements' order
unique_list = list(unique_set)

# Print the list with duplicates removed
print(unique_list)

[3, 5, 6, 8, 12, 78]

21. Find the common elements between two lists.

In [2]:
# Two lists with elements
list1 = [10, 20, 3, 40]
list2 = [10, 20, 31, 41]

# List to store common elements
common_list = []

# Iterate through elements of list1
for element1 in list1:
    # Iterate through elements of list2
    for element2 in list2:
        # Check if the elements are equal
        if element1 == element2:
            # Append the common element to the common_list
            common_list.append(element1)

# Print the list of common elements
print("Common List:",common_list)

Common List: [10, 20]

22. Find the difference between two lists.

In [7]:
# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between lists using the difference() method
difference = list(set(list1).difference(list2))

# Print the difference
print("Difference between lists:", difference)

Difference between lists: [20, 10]

23. Merge two lists.

In [9]:
# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Concatenate lists to create a merged list
merged_list = list1 + list2

# Print the merged list
print("Merged List:", merged_list)

Merged List: [10, 20, 30, 40, 50, 30, 40, 50, 60, 70]

24. Multiply all elements in a list by 2.

In [11]:
# Example list
list1 = [10, 20, 30, 40, 50]

# Create a new list by multiplying each element of list1 by 2 using a list comprehension
multiplied_list = [n*2 for n in list1]

# Print the new list with elements multiplied by 2
print("List Multiplied by 2:", multiplied_list)

List Multiplied by 2: [20, 40, 60, 80, 100]

25. Filter out all even numbers from a list.

In [14]:
# Example list
list1 = [10, 12, 13, 24, 26, 33, 91]

# Create a new list by filtering out even numbers from list1 using a list comprehension
filtered_list = [num for num in list1 if num % 2 != 0]

# Print the filtered list containing only odd numbers
print("Filtered List:", filtered_list)

Filtered List: [13, 33, 91]

26. Convert a list of strings to a list of integers.

In [17]:
# Example list of strings
string_list = ['10', '20', '30', '40']

# Create a new list by converting each string element to an integer using a list comprehension
integer_list = [int(i) for i in string_list]

# Print the new list with integer elements
print(integer_list)

[10, 20, 30, 40]

27. Convert a list of integers to a list of strings.

In [18]:
# Example list of strings
int_list = [10, 20, 30, 40]

# Create a new list by converting each integer element to a string using a list comprehension
str_list = [str(i) for i in int_list]

# Print the new list with string elements
print(str_list)

['10', '20', '30', '40']

28. Flatten a nested list.

In [23]:
nested_list=[[1,2],[3,4],[5,6],[7,8,[9,10]]]

def flatten_list(nested_list):
    flattened=[]
    for sublist in nested_list:
        if isinstance(sublist,list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
            
    return flattened

print("Flattened List:",flatten_list(nested_list))

Flattened List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

29. Create a list of the first 10 Fibonacci numbers.

In [33]:
def generate_fibonacci_list(num_range):
    fibonacci_sequence = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, num_range):
        next_fibonacci = fibonacci_sequence[i - 1] + fibonacci_sequence[i - 2]
        fibonacci_sequence.append(next_fibonacci)

    return fibonacci_sequence


# Example Usage
example_fibonacci_list = generate_fibonacci_list(10)
print(f"List of 10 Fibonacci numbers: {example_fibonacci_list}")

List of 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [41]:
def is_list_sorted_asc(lst):
    for n in range(1, len(lst)):
        # Check if the current element is greater than the previous one
        if lst[n] > lst[n - 1]:
            return False
    # If the loop completes without returning False, the list is in ascending order
    return True

# Example Usage
lst = [100, 40, 60, 80]
if is_list_sorted_asc(lst):
    print("List is in ascending order")
else:
    print("List is not in ascending order")

List is not in ascending order

31. Rotate a list to the left by `n` positions.

In [43]:
def rotate_list(lst, n):
    # Normalize n to handle cases where n is larger than the list length
    n = n % len(lst)
    
    # Rotate the list to the left by n positions
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = 3

# Call the rotate_list function
result = rotate_list(my_list, n)

# Print the result
print("Rotated list:",result)

Rotated list: [4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [46]:
def rotate_list(lst, n):
    # Normalize n to handle cases where n is larger than the list length
    n = n % len(lst)
    
    # Rotate the list to the left by n positions
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = 3

# Call the rotate_list function
result = rotate_list(my_list, n)

# Print the result
print("Rotated list:",result)

Rotated list: [8, 9, 10, 1, 2, 3, 4, 5, 6, 7]

33. Create a list of prime numbers up to 50.

In [3]:
from sympy import primerange

# Create a list of prime numbers up to 50 using sympy
prime_numbers = list(primerange(2, 30))

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

34. Split a list into chunks of size `n`.

In [5]:
def list_to_be_split(lst, n):
    return [lst[i:i+n] for i in range(0, len(lst), n)]

# Example usage
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
result = list_to_be_split(my_list, chunk_size)

# Print the original list and the entire resulting list of chunks
print("Original List:", my_list)
print("Splitted List:", result)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Splitted List: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [15]:
my_list = [10, 500, 160, 70, 90, 90, 120]

# Remove duplicates and sort in descending order
my_list = sorted(set(my_list), reverse=True)

# Print the second largest element
print(my_list[1])

160

36. Replace every element in a list with its square.

In [5]:
def square_list(my_list):
    # Create a new list with squared elements using list comprehension
    squared_elements = [element**2 for element in my_list]
    return squared_elements

# Example Usage
my_list = [1, 2, 3, 4, 5]
result = square_list(my_list)
print(result)

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [10]:
my_list=['Tom','Jerry','Harry','Peter']
my_dict={elements:index for index,elements in enumerate(my_list)}
print("Converted list to Dictionary:",my_dict)

Converted list to Dictionary: {'Tom': 0, 'Jerry': 1, 'Harry': 2, 'Peter': 3}

38. Shuffle the elements of a list randomly.

In [14]:
# List of names
my_list = ['Tom', 'Jerry', 'Harry', 'Peter']

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled List:", my_list)

Shuffled List: ['Peter', 'Harry', 'Tom', 'Jerry']

39. Create a list of the first 10 factorial numbers.

In [23]:
def factorial_n(n):
    if n ==1 or n==0:
        return 1 
    else:
        return n*factorial_n(n-1)
    
# Print factorials for a range of values
for i in range(11):
    result = factorial_n(i)
    print(f"The factorial of {i} is {result}")

The factorial of 0 is 1
The factorial of 1 is 1
The factorial of 2 is 2
The factorial of 3 is 6
The factorial of 4 is 24
The factorial of 5 is 120
The factorial of 6 is 720
The factorial of 7 is 5040
The factorial of 8 is 40320
The factorial of 9 is 362880
The factorial of 10 is 3628800

40. Check if two lists have at least one element in common.

In [29]:
def common_list(list1,list2):
    # Iterate through elements in list1
    for element in list1:
        # Check if the element is in list2
        if element in list2:
            return True
        else:
            return False

# Example usage
result = common_list([1, 2, 3, 4], [11, 12, 13, 5])
print(result)

False

41. Remove all elements from a list.

In [31]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Clear the list, removing all elements
my_list.clear()

# Print the empty list
print("Empty List:",my_list)

Empty List: []

42. Replace negative numbers in a list with 0.

In [39]:
my_list=[1,2,3,4,-2,-6,-7,-8]

for i in range(len(my_list)):
    # Replace negative values with zero
    if my_list[i] < 0:
        my_list[i] = 0

# Print the list after replacing negative values with zero
print("Zero replaced List:", my_list)

Zero replaced List: [1, 2, 3, 4, 0, 0, 0, 0]

43. Convert a string into a list of words.

In [43]:
my_string="Hello Pw Skills"
# Split the string into a list of words
my_list = my_string.split()

# Print the result
print("String to List of words:", my_list)

String to List of words: ['Hello', 'Pw', 'Skills']

44. Convert a list of words into a string.

In [45]:
my_list=["Hello","World",",","Good","Morning!"]
# Join the elements of the list into a string with spaces in between
my_string = " ".join(my_list)

# Print the result
print("List to String:", my_string)

List to String: Hello World , Good Morning!

45. Create a list of the first `n` powers of 2.

In [53]:
n=5
# Generate a list of powers of 2 up to 2^(n-1)
power_list = [2**i for i in range(n)]

# Print the result
print(f"List of {n} powers of 2: {power_list}")

List of 5 powers of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [58]:
my_string=["Hello","pwskills","Data","DSA"]
longest_string = " "

# Iterate through the words in the list
for word in my_string:
    # Check if the current word is longer than the current longest string
    if len(word) > len(longest_string):
        longest_string = word

# Print the longest string
print("Longest String:", longest_string)

Longest String: pwskills

47. Find the shortest string in a list of strings.

In [61]:
my_string=["Hello","pwskills","Data","DSA"]
shortest_string =my_string[0]

# Iterate through the words in the list
for word in my_string:
    # Check if the current word is shorter than the current shortest string
    if len(word) < len(shortest_string):
        shortest_string = word

# Print the longest string
print("Shortest String:", shortest_string)

Shortest String: DSA

48. Create a list of the first `n` triangular numbers.

In [68]:
def triangular_numbers(num):
    # Use list comprehension to calculate triangular numbers for each value of n
    return [n * (n + 1) // 2 for n in range(num + 1)]

# Example usage to generate the first 6 triangular numbers
result = triangular_numbers(5)
print(result)

[0, 1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [72]:
my_list = [1, 2, 3, ["a", "b"], 6,[7,8]]

# Iterate through elements in my_list
for element in my_list:
    # Check if the element is a list
    if isinstance(element, list):
        print("Sublist found:", element)

Sublist found: ['a', 'b']
Sublist found: [7, 8]

In [73]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

50. Swap two elements in a list by their indices.

In [80]:
def swap_elements(lst,index1,index2):
   # Perform the swap
    lst[index1], lst[index2] = lst[index2], lst[index1]

    return lst

# Example usage
my_list = [1, 2, 3, 4, 5]
index_to_swap1 = 1
index_to_swap2 = 3

result = swap_elements(my_list, index_to_swap1, index_to_swap2)
print("List after swapping elements:", result)

List after swapping elements: [1, 4, 3, 2, 5]

#### Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [82]:
my_tuple=tuple(range(1,6))
print(my_tuple)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [85]:
my_tuple=(10,20,30,4,50)
print("Third element of the tuple",my_tuple[2])

Third element of the tuple 30

3. Find the length of a tuple without using the `len()` function.

In [88]:
my_tuple=(1,2,3,4,5,6,7,8,9)
# Initialize a counter variable to count the elements in the tuple
count = 0

# Iterate through the elements of the tuple using a loop
for _ in my_tuple:
    count += 1

# Print the count
print(count)

9

4. Count the occurrences of an element in a tuple.

In [97]:
my_tuple = (1, 1, 2, 3, 3, 4, 5, 5, 6, 7, 7)

# Initialize an empty dictionary to count occurrences
count_dict = {}

# Iterate through each element in my_tuple
for element in my_tuple:
    # Check if the element is already a key in the dictionary
    if element in count_dict:
        count_dict[element] += 1
    else:
        # If the element is not in the dictionary, create a new key with value 1
        count_dict[element] = 1

# Print the count of occurrences for each element
for element, count in count_dict.items():
    print(f"{element}: {count} ")

1: 2
2: 1
3: 2
4: 1
5: 2
6: 1
7: 2

In [103]:
my_tuple = (1, 1, 2, 3, 3, 3, 5, 5, 6, 7, 7)
element_to_be_count = 3
count = 0

# Iterate through each element in my_tuple
for element in my_tuple:
    # Check if the current element is equal to the specified number
    if element == element_to_be_count:
        count += 1

# Print the count of occurrences of the specified number
print(count)

3

5. Find the index of the first occurrence of an element in a tuple.

In [9]:
my_tupe=[100,200,300,400,500,500,600]
element_to_find=500
try:
    # Attempt to find the index of the specified element in the tuple
    index_of_element = my_tuple.index(element_to_find)
    print(f"Element {element_to_find} is found at index {index_of_element}")
except ValueError:
    # Handle the case where the element is not found in the tuple
    print(f"Element {element_to_find} not found in the tuple")

Element 500 not found in the tuple

6. Check if an element exists in a tuple.

In [11]:
my_tuple=(12,13,4,15,16,17)
element_to_find=16

# Check if the specified element is present in the tuple
if element_to_find in my_tuple:
    print(f"Element {element_to_find} found")
else:
    print(f"Element {element_to_find} not in the tuple")

Element 16 found

7. Convert a tuple to a list.

In [15]:
my_tuple=(12,13,4,15,16,17)

print("Converted list:",list(my_tuple))

Converted list: [12, 13, 4, 15, 16, 17]

8. Convert a list to a tuple.

In [14]:
my_list=[12,13,4,15,16,17]

print("Converted tuple:",tuple(my_list))

Converted tuple: (12, 13, 4, 15, 16, 17)

9. Unpack the elements of a tuple into variables.

In [25]:
# Unpack the values from the tuple into individual variables
var1, var2, var3 = my_tuple

# Print the values of the variables
print(f"var1: {var1}\nvar2: {var2}\nvar3: {var3}")

var1: 10
var2: 20
var3: 30

10. Create a tuple of even numbers from 1 to 10.

In [1]:
# Using list comprehension to create a list of even numbers from 1 to 10
even_list = [element for element in range(1, 11) if element % 2 == 0]

# Converting the list to a tuple and printing the result
print("Even numbers tuple:", tuple(even_list))

Even numbers tuple: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [2]:
# Using list comprehension to create a list of odd numbers from 1 to 10
odd_list = [element for element in range(1, 11) if element % 2 != 0]

# Converting the list to a tuple and printing the result
print("Odd numbers tuple:", tuple(odd_list))

Odd numbers tuple: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [5]:
# Two tuples to be concatenated
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (6, 7, 8, 9, 10)

# Concatenating the two tuples using the + operator
conc_tuple = tuple1 + tuple2

# Printing the result
print("Concatenated Tuple:", conc_tuple)

Concatenated Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

13. Repeat a tuple three times.

In [7]:
# Original tuple
tuple1 = (1, 2, 3, 4, 5)

# Repeating the tuple three times using the * operator
repeated_tuple = tuple1 * 3

# Printing the result
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [10]:
# Step 1: Define two tuples
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

# Step 2: Check if the tuples are empty
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

15. Create a nested tuple.

In [11]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple.

In [15]:
# Original nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Accessing the first element of the outer tuple
first_element = nested_tuple[0]

# Printing the result
print(first_element)

(1, 2, 3)

17. Create a tuple with a single element.

In [18]:
# Creating a single-element tuple
single_ele_tuple = (7,)

# Printing the single-element tuple
print("Single Element Tuple:", single_ele_tuple)

Single Element Tuple: (7,)

18. Compare two tuples.

In [19]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [23]:
my_tuple=(1,2,3,4,5)
del my_tuple
print("Deleted tuple:",my_tuple)

NameError: name 'my_tuple' is not defined

20. Slice a tuple.

In [28]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Slice the tuple to get a portion of it
sliced_tuple = my_tuple[3:8]  # Elements from index 3 to 8 (end index is exclusive)

# Print the sliced tuple
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (4, 5, 6, 7, 8)

21. Find the maximum value in a tuple.

In [30]:
# Create a tuple
my_tuple = (100, 200, 500, 145, 230)

# Find the maximum value in the tuple using the 'max()' function
max_value = max(my_tuple)

#  Print the maximum value
print("Maximum value:", max_value)

Maximum value: 500

22. Find the minimum value in a tuple.

In [31]:
# Create a tuple
my_tuple = (100, 200, 500, 145, 230)

# Find the minimum value in the tuple using the 'min()' function
min_value = min(my_tuple)

# Step 3: Print the maximum value
print("Minimum value:", min_value)

Minimum value: 100

23. Convert a string to a tuple of characters.

In [32]:
# Create a string
my_string = "Hello, World!"

#Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)

# Print the tuple of characters
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to a string.

In [33]:
# Create a tuple of characters
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Convert the tuple of characters to a string using the 'join()' method
string_from_tuple = ''.join(tuple_of_characters)

# Print the resulting string
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

25. Create a tuple from multiple data types.

In [34]:
# Creating a tuple with elements of different data types
mixed_tuple = (1, "hello", 3.14, True)

# Printing the tuple
print(mixed_tuple)

(1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [7]:
# Original tuples
tuple1 = (2, 3, 4, 5)
tuple2 = (5, 4, 3, 2)

# Sorting tuple2
tuple1 = sorted(tuple1)
tuple2 = sorted(tuple2)

# Checking if the sorted tuple2 is identical to tuple1
if tuple1 == tuple2:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are identical

27. Sort the elements of a tuple.

In [10]:
# Create a tuple
my_tuple = (123,132,67,89)

# Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

# Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (67, 89, 123, 132)

28. Convert a tuple of integers to a tuple of strings.

In [13]:
#Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

#Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

# Step 3: Print the tuple of strings
print("Tuple of strings:", tuple_of_strings)

['1', '2', '3', '4', '5']

29. Convert a tuple of strings to a tuple of integers.

In [16]:
#Create a tuple of string

tuple_of_strings = ("1", "2", "3", "4", "5")

#Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Step 3: Print the tuple of strings
print("Tuple of strings:", tuple_of_integers)

Tuple of strings: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [17]:
#Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [25]:
def flattened_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flattened_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Original nested tuple
nested_tuple = (1, 2, 3, (3, 4, 5), (5, 6), ('Red', 'Blue'))

# Calling the function to flatten the nested tuple
result = tuple(flattened_tuple(nested_tuple))

# Printing the flattened tuple
print(result)

(1, 2, 3, 3, 4, 5, 5, 6, 'Red', 'Blue')

32. Create a tuple of the first 5 prime numbers.

In [6]:
def prime_numbers(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    # If no divisors are found, the number is prime
    return True

# Create a list of prime numbers between 2 and 100 using list comprehension
prime_num_list = [num for num in range(2, 100) if prime_numbers(num)]

# Print the first five prime numbers using tuple slicing
print("First five prime numbers are:", tuple(prime_num_list[:5]))

First five prime numbers are: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [4]:
def is_palindrome(tup):
    # Check if the tuple is equal to its reversed version
    return tup == tup[::-1]

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (1, 2, 3, 2, 1)

# Perform palindrome check for the first tuple
palindrome_check1 = is_palindrome(tuple1)

# Perform palindrome check for the second tuple
palindrome_check2 = is_palindrome(tuple2)

# Print the results of the palindrome checks
print("palindrome_check1 is Not a Palindrome:", palindrome_check1)
print("palindrome_check2 is a Palindrome:", palindrome_check2)

palindrome_check1 is Not a Palindrome: False
palindrome_check2 is a Palindrome: True

34. Create a tuple of squares of numbers from 1 to 5.

In [7]:
square_list = [n**2 for n in range(1, 6)]  # Creates a list of squares from 1 to 5
square_tuple = tuple(square_list)  # Converts the list to a tuple
print("Tuple of squares:", square_tuple)  # Prints the tuple

Tuple of squares: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [13]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Create a filtered tuple containing only odd numbers from the original tuple
filtered_tuple = tuple(n for n in my_tuple if n % 2 != 0)

# Print the result
print("Filtered Tuple (odd numbers only):", filtered_tuple)

Filtered Tuple (odd numbers only): (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [15]:
my_tuple = (1, 2, 3, 4, 5)

# Create a new tuple by multiplying each element of the original tuple by 2
tuple_by2 = tuple(n * 2 for n in my_tuple)

# Print the result
print("Tuple multiplied by 2:", tuple_by2)

Tuple multiplied by 2: (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [17]:
import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (75, 73, 61, 64, 67, 24, 15, 4, 10, 24)

38. Check if a tuple is sorted.

In [19]:
# Function to check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

39. Rotate a tuple to the left by `n` positions.

In [23]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 3
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

40. Rotate a tuple to the right by `n` positions.

In [24]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [39]:
def fib_series(n):
    # Initialize the first two numbers of the Fibonacci series
    a, b = 0, 1
    
    # Generate Fibonacci series up to the specified number of terms
    for _ in range(n):
        yield a  # Yield the current Fibonacci number
        a, b = b, a + b  # Update values for the next iteration

fib_tuple = fib_series(5)  # Create a generator for the first 5 Fibonacci numbers

# Iterate through the generator and print each Fibonacci number
print("First 5 Fibonacci numbers:")
for num in fib_tuple:
    print(num)

First 5 Fibonacci numbers:
0
1
1
2
3

42. Create a tuple from user input.

In [41]:
# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas:  H,e,l,l,o

User input tuple: ('H', 'e', 'l', 'l', 'o')

43. Swap two elements in a tuple.

In [48]:
# Original tuple
my_tuple = (1, 2, 3, 4, 5)

# Indices to swap
index1 = 2
index2 = 4

# Use a generator comprehension to create a swapped tuple
swapped_tuple = tuple(
    (my_tuple[i] if i not in (index1, index2) else 
     my_tuple[index2] if i == index1 else
     my_tuple[index1])
    for i in range(len(my_tuple))
)

# Print the result
print("Swapped Tuple:", swapped_tuple)

Swapped Tuple: (1, 2, 5, 4, 3)

44. Reverse the elements of a tuple.

In [54]:
# Original tuple
my_tuple = (1, 2, 3, 4, 5)

# Create a reversed tuple using slicing
rev_tuple = my_tuple[::-1]

# Print the reversed tuple
print(rev_tuple)

(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [56]:
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [58]:
my_tuple=("Hello","pwskills","DSA")
longest=" "
for item in my_tuple:
    if len(item)>len(longest):
        longest=item
print(longest)

pwskills

In [60]:
# Create a tuple of strings
string_tuple = ("Hello","pwskills","DSA")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: pwskills

47. Find the shortest string in a tuple of strings.

In [62]:
# Create a tuple of strings
string_tuple = ("Hello","pwskills","DSA")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the longest string
print("Shortest string:", shortest_string)

Shortest string: DSA

48. Create a tuple of the first `n` triangular numbers.

In [64]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [65]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [66]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

#### Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [4]:
# Using a set comprehension to generate a set containing integers from 1 to 5
my_set = set(i for i in range(1, 6))
print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [4]:
# Using a set comprehension to generate a set containing integers from 1 to 5
my_set = set(i for i in range(1, 6))
print("Original set:",my_set)
my_set.add(6)
print("New set:",my_set)

Original set: {1, 2, 3, 4, 5}
New set: {1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [7]:
# Using a set comprehension to generate a set containing integers from 1 to 5
my_set = set(i for i in range(1, 6))
print("Original set:",my_set)
my_set.pop()
print("Pop set:",my_set)
my_set.remove(3)
print("Remove set:",my_set)

Original set: {1, 2, 3, 4, 5}
Pop set: {2, 3, 4, 5}
Remove set: {2, 4, 5}

4. Check if an element exists in a set.

In [12]:
# Set of integers to check against
my_set = {1, 2, 3, 4, 5}

# User input to specify the element to be checked
element_to_check = int(input("Enter the element to be checked:"))

# Check if the entered element is in the set
if element_to_check in my_set:
    print(f"Element {element_to_check} found")
else:
    print(f"Element {element_to_check} not found")

Enter the element to be checked: 9

Element 9 not found

5. Find the length of a set without using the `len()` function.

In [14]:
my_set={1,2,3,4,5,6,7,8,9}
count=0
for _ in my_set:
    count+=1
print("Count of elements in the set:",count)

Count of elements in the set: 9

6. Clear all elements from a set.

In [16]:
# Initialize a set of integers
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}

# Clear all elements from the set
my_set.clear()

# Print the set after clearing its elements
print("Set after clearing:", my_set)

Set after clearing: set()

7. Create a set of even numbers from 1 to 10.

In [28]:
# Create an empty set to store even numbers
even_set = set()

# Add each even number to the set
for num in range(1, 11):
    if num % 2 == 0:
        even_set.add(num)

# Print the resulting set of even numbers
print(even_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [29]:
# Using a set comprehension to generate a set containing odd numbers
odd_numbers_set = {num for num in range(1, 11) if num % 2 != 0}

# Step 2: Print the resulting set of odd numbers
print("Set of odd numbers from 1 to 10:", odd_numbers_set)

Set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [31]:
# Define two sets, set1 and set2
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Perform the union of set1 and set2
union_set = set1.union(set2)

# Print the resulting union set
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [33]:
# Define two sets, set1 and set2
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 3, 1, 10}

# Perform the intersection of set1 and set2
intersection_set = set1.intersection(set2)

# Print the resulting intersected set
print("Intersection of sets:", intersection_set)

Intersection of sets: {1, 3}

11. Find the difference between two sets.

In [35]:
# Define two sets, set1 and set2
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 3, 1, 10}

# Perform the differnece of set1 and set2
difference_set = set1.difference(set2)

# Print the resulting  set
print("Difference of sets:", difference_set)

Difference of sets: {2, 4, 5}

12. Check if a set is a subset of another set.

In [38]:
# Define two sets, set1 and set2
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Check if set2 is a subset of set1
subset_check = set2.issubset(set1)

# Print the result indicating whether set1 contains set2
print("Is set1 containing set2:", subset_check)

Is set1 containing set2: True

13. Check if a set is a superset of another set.

In [40]:
# Define two sets, set1 and set2
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Check if set1 is a superset of set2
superset_check = set1.issuperset(set2)

# Print the result indicating whether set1 contains set2
print("Is set1 superset of set2:", superset_check)

Is set1 superset of  set2: True

14. Create a set from a list.

In [43]:
# Create a list of elements
my_list = [1, 2, 3, 9, 9, 1, 5]

# Use the set() constructor to convert the list into a set
my_set = set(my_list)

# Print the original list and the resulting set
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [1, 2, 3, 9, 9, 1, 5]
Set from List: {1, 2, 3, 5, 9}

15. Convert a set to a list.

In [45]:
# Create a set with some elements
my_set = {1, 2, 3, 1, 4, 9, 3, 5, 6}

# Step 2: Convert the set to a list using the list() function
my_list = list(my_set)

# Step 3: Print the original set and the converted list
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

16. Remove a random element from a set.

In [50]:
import random 

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 4 : {1, 2, 3, 5}

17. Pop an element from a set.

In [52]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Print the original set
print("Original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print("Popped element:", popped_element)

# Print the set after popping an element
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [54]:

# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [64]:
set1={1,3,4}
set2={5,6,7}
no_common=True
for element in set1:
    if element in set2:
        no_common=False
        break
if no_common:
    print("No elements in common")
else:
    print("common elements found")

No elements in common

19. Find the symmetric difference between two sets.

In [65]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [66]:
# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [82]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            return False
    return True

# List comprehension to generate the first five prime numbers between 2 and 99
prime_numbers = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list of prime numbers to a set and print
print("Set of the first five prime numbers between 2 and 99:", set(prime_numbers))

Set of the first five prime numbers between 2 and 99: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [84]:
# Define two sets, set1 and set2
set1 = {1, 2, 3, 4}
set2 = {3, 4, 1, 2}

# Check if set1 and set2 are identical
if set1 == set2:
    print("Sets are identical")
else:
    print("Sets are not identical")

Sets are identical

23. Create a frozen set.

In [85]:
# Define a list of elements 
elements = [1, 2, 3, 4, 5]

# Create a frozen set using the 'frozenset' constructor 
my_frozen_set = frozenset(elements)

# Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [88]:
# Define the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Use the `isdisjoint()` method to check if the sets are disjoint
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

25. Create a set of squares of numbers from 1 to 5.

In [91]:
# Create a set using a set comprehension to store the squares of numbers from 1 to 5
my_set = set(n**2 for n in range(1, 6))

# Print the set of squares
print("Set of squares:", my_set)

Set of squares: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [95]:
# Original set of integers from 1 to 10
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Create a set using a set comprehension to filter out even numbers
# The condition n % 2 != 0 ensures only odd numbers are included
odd_set = set(n for n in my_set if n % 2 != 0)

# Print the filtered set containing only odd numbers
print("Filtered odd set:", odd_set)

Filtered odd set: {1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [100]:
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [115]:
import random 

# Create an empty set to store randomly generated integers
random_integers_set = set()

# Generate and add random integers between 10 and 100 to the set
for _ in range(1, 6):
    random_integer = random.randint(10, 100)
    random_integers_set.add(random_integer)

# Print the set of randomly generated integers
print("Random Integers Set:", random_integers_set)

Random Integers Set: {64, 35, 76, 51, 58}

29. Check if a set is empty.

In [119]:
# Create a set (you can replace this with your own set)
my_set = set()

# Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [120]:
#  Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [125]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

32. Compare two sets.

In [130]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [132]:
# Define the input string
input_string = "Rubayah"

# Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Print the resulting set
print(char_set)

{'h', 'R', 'a', 'u', 'b', 'y'}

34. Convert a set of strings to a set of integers.

In [137]:
# Create a set of strings
string_set = {"123", "456", "789"}

# Initialize an empty set to store integers
integer_set = set()

# Iterate through each string in the string set
for string in string_set:
    # Convert the string to an integer using the int() function
    integer_value = int(string)

    # Add the integer to the integer set
    integer_set.add(integer_value)

# Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'123', '789', '456'}
Converted Integer Set: {456, 123, 789}

35. Convert a set of integers to a set of strings.

In [140]:
# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'4', '5', '2', '1', '3'}

36. Create a set from a tuple.

In [142]:
# Create a tuple named 'numbers_tuple'
numbers_tuple = (1, 2, 3)

# Convert the tuple 'numbers_tuple' to a set named 'numbers_set'
numbers_set = set(numbers_tuple)

# Print the set 'numbers_set'
print("Set created from tuple:", numbers_set)

Set created from tuple: {1, 2, 3}

37. Convert a set to a tuple.

In [143]:
# Create a set named 'my_set'
my_set = {1, 2, 3, 4, 5}

# Convert the set 'my_set' to a tuple named 'my_tuple'
my_tuple = tuple(my_set)

# Print the tuple 'my_tuple'
print("Tuple created from set:", my_tuple)

Tuple created from set: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [145]:
# Create a set named 'numeric_set'
numeric_set = {100, 400, 200, 300}

# Find the maximum value in the set using the 'max()' function
max_value = max(numeric_set)

# Print the maximum value found in the set
print("Maximum value in the set:", max_value)

Maximum value in the set: 400

39. Find the minimum value in a set.

In [152]:
# Create a set named 'numeric_set'
numeric_set = {100, 400, 200, 300}

# Initialize a variable 'min_value' to None to track the minimum value
min_value = None

# Iterate through the elements in the set to find the minimum value
for num in numeric_set:
    # Check if 'min_value' is None or if the current element is smaller than 'min_value'
    if min_value is None or num < min_value:
        # Update 'min_value' if conditions are met
        min_value = num

# Print the minimum value found in the set
print("Minimum value in the set:", min_value)

Minimum value in the set: 100

40. Create a set from user input.

In [159]:
my_set = set()

# Prompt the user to enter data until "done" is typed
print("Enter data until 'done' is typed. Type 'done' to finish.")
while True:
    # Get user input
    user_input = input("Enter data: ")
    
    # Check if the user entered "done" to exit the loop
    if user_input.lower() == "done":
        break
    else:
        # Add the user input to the set
        my_set.add(user_input)

# Print the final set
print("Final set:", my_set)

Enter data until 'done' is typed. Type 'done' to finish.

Enter data:  hello
Enter data:  world,
Enter data:  Good Morning!
Enter data:  done

Final set: {'hello', 'Good Morning!', 'world,'}

41. Check if the intersection of two sets is empty.

In [164]:
# Create two sets, 'set1' and 'set2'
set1 = {1, 2, 3}
set2 = {5, 6, 7}

# Find the intersection of 'set1' and 'set2'
intersection_set = set1.intersection(set2)

# Check if the intersection set is empty
if not intersection_set:
    print("The intersection set is empty.")
else:
    print("The intersection set is not empty.")

The intersection set is empty.

42. Create a set of the first 5 Fibonacci numbers.

In [21]:
# Initialize an empty set to store the first 5 Fibonacci numbers
fib_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6): 
    fib_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of the first 5 Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fib_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [24]:
# Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Convert the list to a set
unique_set = set(original_list)

# Convert the set back to a list
unique_list = list(unique_set)

# Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

44. Check if two sets have the same elements, regardless of their count.

In [26]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [34]:
def generate_pow_2(n):
    # Initialize an empty set to store powers of 2
    powers_set = set()

    # Loop to generate powers of 2 up to n
    for i in range(n):
        # Calculate the current power of 2
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_set.add(power)

    # Return the set of powers of 2
    return powers_set

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2 up to n
powers_set = generate_pow_2(n)

# Print the resulting set
print("Set of powers of 2 up to", n, ":", powers_set)

Set of powers of 2 up to 5 : {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [18]:
# Define a set and a list
my_set = {1, 2, 3, 4, 5, 0}
my_list = [3, 4, 9, 8, 15]

# Convert the list to a set
my_list = set(my_list)

# Use the intersection method to find common elements
common_elements = my_set.intersection(my_list)

#  Print the common elements
print("Common elements:", common_elements)

Common elements: {3, 4}

47. Create a set of the first `n` triangular numbers.

In [30]:
# Generate a set of triangular numbers up to the specified index
def triangular_num(n):
    return set((i * (i + 1)) // 2 for i in range(n + 1))

# Example usage
result_set = triangular_num(5)

# Print the set of triangular numbers
print(result_set)

{0, 1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [33]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [36]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

50. Merge multiple sets into one.

In [40]:
# Define three sets: set1, set2, and set3
set1 = {1, 2}
set2 = {1, 2, 3, 4, 5}
set3 = {7, 8}

# Combine the sets using the union operation
merged_set = set1.union(set2, set3)

# Print the resulting merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 7, 8}